<% @buyers.each do |buyer| %>
  <%= buyer.first_name %>
  <div>
    <ul>
    <% buyer.buyer_preferences.each do |bp| %>
      <li>
        <%= bp.product.name %>, <%= bp.price %> |
      </li>
    <% end  %>
    <%= link_to "Make a transaction", new_farmer_transaction_path(user: buyer) %>
    </ul>
  </div>
<% end %>
<!--
link_to "some text", users_path(buyer_preferance: @buyer_preference) -->
