.greeting {
  font-family: Cookie, cursive;
  color: #646E78;
}

.buyers-name {
  font-family: Cookie, cursive;
  color: #646E78;
}

.dashboard-banner {
  border-bottom: 1px solid #DDDDDD;
//   // position: sticky;
//   // top: 71px;
}

.header-icon {
  font-size: 35px;
  color: #FECD1A;
}
