<%= simple_form_for fp, remote: true do |f| %>
  <div class="d-flex align-items-center mb-3 justify-content-between">
    <%= f.association :product, collection: @products_available, label: false %>
    <%= f.submit "Add product", class:'btn btn-transaction-small' %>
  </div>
<% end %>

