<h1>Add the products which you are growing here</h1>

 <div class="container">
  <%= simple_form_for @farmer_product do |f| %>
    <%= f.association :product %>
    <%= f.submit %>
  <% end %>
</div>

42
<!-- 1. this should not be a dropdown, but a form with multiple choice (checkbox)
displaying pictures for each product (product cards)
2.  instead of the create farmer product button, change it to
a button redirecting to the dashboard, when farmer is ready with
his selection of products.-->
