<!-- # render the list of vegetables on top, showing what the buyer has already added to his preferences
 -->
<div class="container">
  <%= simple_form_for @buyer_preference do |f| %>
    <%= f.association :product %>
    <%= f.input :price %>
    <%= f.button :submit %>
  <% end %>
</div>

