<div class="small-card-produce ml-1 mr-1">
  <div class="card-produce-img">
    <%= image_tag product.img_url, width: 50 %>
  </div>
  <div class="card-produce-info">
    <p> <%= product.name.capitalize %> </p>
    <p class="ml-2"> <%= price %> $ </p>
  </div>
</div>
