<!--
Keep this line and keep it to make product cards dynamic -->
<%#= render "shared/card-produce", product: @product %>


<div class="card-produce">
  <div class="card-produce-info">
      <p> <%= product.name.capitalize %> </p>
      <!-- <p> 5 Buyers </p> -->
    </div>
  <div class="card-produce-img">
    <%= image_tag product.img_url, class: "avatar-product" %>
  </div>
<div class="card-produce-price">
 <!-- <strong><p> Average price: </p></strong> -->
 <strong><p> <%= product.average_price.round(2) %> </p></strong>
</div>
</div>





