<!--
Keep this line and keep it to make product cards dynamic -->
<%#= render "shared/card-produce", product: @product %>
<!--
<div class="card-produce">
  <div class="card-produce-img">
    <%#= image_tag product.img_url, width: 90 %>
  </div>
  <div class="card-produce-info">
    <p> <%#= product.name %> </p>
    <p> 2$ </p>
  </div>
</div>


 -->
