<div class="small-card-produce">
  <div class="card-produce-img">
    <%= image_tag product.img_url, width: 50 %>
  </div>
  <div class="card-produce-info">
    <p> <%= product.name.capitalize %> </p>
    <p class="ml-2"> <%= quantity %>KG </p>
  </div>
</div>
