<h1>farmerando</h1>
<h4>creating markets, empowering farmers</h4>

<button type="button" class="btn btn-main"> </i> <%= link_to 'Login', class:"text-decoration-none"%> </button>
<button type="button" class="btn btn-sub"> </i> <%= link_to 'Register'%> </button>
