<div class="landing">
  <div class="landing-banner">
    <div>
      <h1 class="brand">farmerando</h1>
    </div>
    <div>
      <h5 class="slogan">creating markets, empowering farmers</h5>
    </div>
  </div>

  <div class="login-block">
    <button type="button" class="btn btn-main"> </i> <%= link_to 'Login'%> </button>
    <button type="button" class="btn btn-main"> </i> <%= link_to 'Register'%> </button>
  </div>
</div>
