<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button type="button" class="btn btn-main"> </i> <%= link_to 'Button Component Test', class:"text-decoration-none"%> </button>
<button type="button" class="btn btn-sub"> </i> <%= link_to 'Button Component Test 2'%> </button>
