<div class="dashboard-banner m-3 justify-content-center align-items-center text-center">
  <div>
    <h4 class="greeting"> Hello <%= current_user.first_name %>!  </h4>
  </div>
  <div>
  <i class="fas fa-moon header-icon"></i>
  </div>
  <div>
    <p class="greeting">The weather in <strong>Kisumu</strong> is <strong>mostly sunny</strong> with <strong>28 °C</strong>! </p>
  </div>
</div>

<div class="text-center m-2">
  <p class="mb-0">Update the price of your products</p>
</div>

<div class="container">
  <% current_user.buyer_preferences.each do |bp| %>
    <%= render "buyer_preferences/edit", buyer_preference: bp %>
  <% end %>
</div>
