  <!-- <div class="dashboard-banner m-3 d-flex justify-content-center align-items-center ">


      <h4 class="greeting"> Hello, <%= current_user.first_name %>!  </h4>
    </div> -->

<div class="text-center mt-2">
  <p class="mb-0">Average price of your products</p>
</div>
<div class="container">
  <div class="container-horizontal mb-3">
    <div class="horizontal-scroll-container py-3">
      <%   @farmer_products.each do |product| %>
        <div class="horizontal-scroll-card">
          <%= render "shared/card-produce", product: product.product %>
        </div>
      <% end  %>
    </div>
  <div class="text-center mt-2">
    <p>Buyers interested in your products</p>
  </div>
    <div>
      <ul class="buyer-list">
        <% @users_displayed = [] %>
        <% BuyerPreference.all.each do |bp| %>
          <% if @product_array.include?(bp.product_id) %>
            <% unless @users_displayed.include?(bp.user) %>
              <% @users_displayed << bp.user %>
              <%= render "shared/card-buyer", product: bp.product, price: bp.price, user: bp.user %>
            <% end %>
          <% end  %>
        <% end  %>
      </ul>
    </div>
  </div>
</div>

