<div class="text-center m-2">
  <p class="mb-0">Update the price of your products</p>
</div>

<div class="container">
  <% current_user.buyer_preferences.each do |bp| %>
    <%= render "buyer_preferences/edit", buyer_preference: bp %>
  <% end %>
</div>
