<div class="container">
  <div class="container-horizontal">
    <div class="row py-4">
      <%   @farmer_products.each do |product| %>
        <%= render "shared/card-produce", product: product %>
      <% end  %>
      <ul class="buyer-list">
        <% @buyer_preferences.each do |bp| %>
          <%= render "shared/card-buyer", product: bp.product, price:bp.price, user:bp.user %>
        <% end  %>
      </ul>
    </div>
  </div>
</div>

