.banner-confirmation {
  background-color: #D3E5C5;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.banner-transaction {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  display: inline-block;
}
