.banner-confirmation {
  background-color: #D3E5C5;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.banner-transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0px 5px;
}
