.btn-main a {
  background-color: #f9a826;
  border-radius: 24px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5%;
}


.btn-sub a {
  background-color: #f9a826;
  border-radius: 24px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5%;
}
