.btn-main {
  background-color: #f9a826;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 8px 24px;
  font-style: "Nunito";
  width: 200px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-main a {
  text-decoration: none;
  color: #FFFFFF;
}

.btn-main:hover {
  opacity: 0.6;
}

.btn-sub {
  background-color: #f9a826;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 8px 24px;
  font-style: "Nunito";
  width: 200px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-sub a {
  text-decoration: none;
  color: #FFFFFF;
}

.btn-sub:hover {
  opacity: 0.6;
}
