.card-produce {
  background-color: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

.container-horizontal > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
}

.container-horizontal > .row > .col-4 {
  display: inline-block;
}

.card-buyer {
  background-color: white;
  overflow: hidden;
  min-height: 150px;
  max-width: auto;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 2px;
}


.card-buyer-go {
  background-color: white;
  display: flex;
  justify-content: flex-end
}

.small-card-produce{
  background-color: white;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  width: 120px;
  height:80px;
  }

.card-transaction {
  background-color: white;
  margin: 10px 10px;
  padding: 5px 20px 5px 5px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  color: #646E78;
}

.card-produce-img {
  text-align: center;

}
.card-produce-info{
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  p {
    margin-bottom: 0;
  }
}

.horizontal-scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.horizontal-scroll-card {
  display: inline-block;
}

.card-bp {
  border: none;
  border-radius: 4px;
}

.card-confirmation {
  background-color: #D3E5C5;
  margin: 10px 10px;
  padding: 5px 20px 5px 5px;
  border-radius: 4px;
  // box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  color: #646E78;
}
