.small-input {
  width: 80px;
}

.form-group.transaction_product_quantity {
  margin-bottom: 0;
}


.form-control#buyer_preference_price {
  width: 80px;
  border-radius: 50px;
}

.form-group.buyer_preference_price {
  margin-bottom:0;
}

.form-control#farmer_product_product_id {
  width: 200px;
  border-radius: 50px;
}

.form-group.farmer_product_product {
  margin-bottom:0;
}
