.navbar-farmerando {
  font-family: Nunito, Helvetica, sans-serif;
  justify-content: space-between;
  vertical-align: middle;
  background: #F9A826;
  padding: 0.5rem 1rem;
}

.navbar-farmerando .navbar-collapse {
  flex-grow: 0;
}

.navbar-farmerando .navbar-brand {
  font-family: Cookie, cursive;
  font-size: 30px;
  color: #646E78;
}

.navbar-farmerando .navbar-brand hover {
  // color: #F9A826;
}

.settings-collapsed {
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #ebf5df;
    width: 160px;
}

.settings-hidden {
  display: none;
}

.nav-link {
  color: #646E78;
}

.navbar-icon {
  color: #646E78;

}
