.navbar-farmerando {
  justify-content: space-between;
  background: #D3E5C5;
}

.navbar-farmerando .navbar-collapse {
  flex-grow: 0;
}

.navbar-farmerando .navbar-brand {
  font-family: Cookie, cursive;
  font-size: xx-large;
  color: #646E78
}
